@model IEnumerable<GestionColegioJose1.Models.Alumno>

<h2>Listado de Alumnos</h2>

<p><a asp-action="Create" class="btn btn-primary">Nuevo Alumno</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Grado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Grado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlumnoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AlumnoId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlumnoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
